anomalib==1.0.0
gradio>=5.46.1
numpy==1.26.4
opencv-python==4.10.0.84
torch==2.2.2 --index-url https://download.pytorch.org/whl/cpu
torchvision==0.17.2 --index-url https://download.pytorch.org/whl/cpu
huggingface_hub>=0.35.0
websockets>=12.0
